/* Everything */

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins-bold", sans-serif;
    color: white;
    transition: ease 0.5s;
}

html, body {
    height: 100%;
}

body {
    background-image: url("./resources/background.png");
    background-size: cover;
    background-repeat: repeat;
    top: 0;
    left: 0;
}

/* Mobile */
@media only screen and (max-width: 1000px) {
    .server-widget {
        opacity: 0;
        visibility: hidden;
    }

    .branding {
        opacity: 0;
        visibility: hidden;
    }
}

/* Header */

header {
    height: 10vh;
}

.server-widget {
    cursor: default;
    position: fixed;
    right: 1rem;
    top: 1rem;
    border: 3px solid rgba(255, 255, 255, 0.20);
    border-radius: 1rem;
    background-color: rgba(61, 190, 255, 0.33);
    width: 15rem;
    height: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
    overflow-y: hidden;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

#server-info-logo {
    margin-right: 1rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

#ip {
    margin-top: 0.8rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.online-flexbox {
    display: flex;
    justify-content: left;
    align-items: center;
}

#server-status {
    margin-left: 0.2rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

#online-circle {
    border: 3px solid #6a6a6a;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #6a6a6a;
    margin-right: 0.3rem;
    box-shadow: 0 0 10px rgb(198, 198, 198);
}

.server-widget-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Main */

main {
    height: 84vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > img {
    width: 19.563rem;
}

#title {
    font-size: 2.5rem;
    margin: 1.5rem;
    cursor: default;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.HG-text {
    background: linear-gradient(153deg,rgba(85, 255, 255, 1) 0%, rgba(189, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.NoRisk-text {
    background: linear-gradient(153deg,rgba(85, 255, 255, 1) 0%, rgba(189, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

/* Popups */

#darken {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: 1;
}

/* imprintPopup */

#imprintPopup {
    cursor: default;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid rgba(148, 211, 255, 0.58);
    background-color: rgba(29, 102, 140, 0.4);
    z-index: 2;
}


/* leaderboardPopup */

#leaderboardPopup {
    cursor: default;
    width: 70vw;
    height: 75vh;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background-color: rgba(29, 102, 140, 0.4);
    overflow-y: scroll;
    z-index: 2;
}

#leaderboardPopup > h1 {
    text-align: center;
    margin: 1rem;
    text-decoration: underline;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

#leaderboardPopup > p {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

/* playPopup */

#playPopup {
    cursor: default;
    width: 33vw;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background-color: rgba(29, 102, 140, 0.4);
    z-index: 2;
}

#playPopup > h1 {
    text-align: center;
    margin: 1rem;
    text-decoration: underline;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

#playPopup > ol > li {
    margin: 1rem;
    font-size: 1.2rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

/* eventsPopup */

#eventsPopup {
    cursor: default;
    width: 45vw;
    height: 60vh;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: 3px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background-color: rgba(29, 102, 140, 0.4);
    z-index: 2;
    overflow-y: scroll;
}

#eventsPopup > h1 {
    text-align: center;
    margin: 1rem;
    text-decoration: underline;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.events > div {
    margin: 2rem;
    border: 3px solid rgba(65, 139, 186, 0.7);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 1rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.eventName {
    text-align: center;
    text-decoration: underline;
    color: deepskyblue;
    font-size: 2rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.eventDate {
    text-align: center;
    color: lightgray;
    margin-top: 0.2rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.eventSeparator {
    margin: 1rem 0.5rem;
    color: rgba(42, 169, 255, 0.66);
    filter: blur(1px);
}

.eventInfoTitle {
    color: deepskyblue;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.eventInfoText {
    font-size: 1.15rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.eventInfoText > span {
    color: #6ddbff;
}

.eventPrize {
    margin-top: 1rem;
    padding: 1rem;
    border: 2px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background-color: rgba(29, 102, 140, 0.21);
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.eventPrize:hover {
    border-color: rgb(255, 255, 255);
    background-color: rgba(88, 191, 255, 0.25);
}

.eventPrizeTitle {
    color: deepskyblue;
    margin-bottom: 0.5rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.eventPrizeList {
    font-size: 1.15rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

li {
    list-style-position: inside;
}

/* Search */

.search-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    border: 3px solid rgba(33, 163, 255, 0.28);
    border-radius: 1rem;
    background: linear-gradient(135deg,rgba(0, 0, 0, 0.22) 0%, rgba(49, 212, 255, 0.32) 90%);
    width: 35rem;
    height: 4.375rem;
    background-clip: content-box;
    margin-bottom: 2.5rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.search-wrapper > svg {
    margin: 1rem;
    scale: 1.25;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

@keyframes inputplaceholder {
    from{width: 0;}
    to{width: 31rem;}
}

.search-wrapper > form {
    width: 31rem;
    overflow: hidden;
}

.search-wrapper > form > input {
    border: none;
    height: 4.375rem;
    width: 0;
    font-size: 2rem;
    background: transparent;
    color: #68ffff;
    animation: inputplaceholder 3s ease-in-out forwards;
    overflow: hidden;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.search-wrapper > form > input:focus {
    border: none;
    outline: none;
    color: white;
}

.search-wrapper:hover {
    border-color: rgb(33, 163, 255);
}

/* Buttons */

.buttons-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.buttons-wrapper > div {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
    width: 13rem;
    height: 3.5rem;
    border: 3px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background-color: rgba(88, 191, 255, 0.2);
    align-items: center;
    font-weight: bold;
    font-size: 1.25rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.buttons-wrapper > div > p {
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(147, 235, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.buttons-wrapper > div:hover {
    border-color: rgb(255, 255, 255);
    background-color: rgba(88, 191, 255, 0.42);
}

/* Footer */

footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 6vh;
    line-height: 6vh;
}

/* Links */

.links-wrapper {
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.links-wrapper > a {
    margin: 0 0.5rem;
    text-decoration: none;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

/* Socials */

.socials-wrapper {
    position: absolute;
    right: 1vh;
    bottom: 1vh;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.socials-wrapper > svg {
    margin: 0 0.5rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

#youtube-icon:hover path {
    fill: #CD201F;
}

#discord-icon:hover path {
    fill: #7785cc
}

#github-icon:hover path {
    fill: #ffffff
}

#username-text {
    text-transform: uppercase;
    background: linear-gradient(90deg,rgba(0, 187, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

/* 404 */
#four-hundred-and-four {
    margin: auto auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vh;
    height: 40vh;
    border: 3px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background-color: rgba(88, 191, 255, 0.42);
    padding: 1rem;
}

#four-hundred-and-four > img {
    height: 100%;
    width: 100%;
}

/* STATS SITE-SPECIFIC ELEMENTS */

/* Loading */

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading > img {
    animation:spin 1.5s linear infinite;
}

@keyframes spin {
    0% {transform: scale(0.2) rotate(0deg);}
    100% {transform: scale(0.2) rotate(360deg);}
}

/* Not found */

#not-found {
    visibility: hidden;
    opacity: 0;
    transition: 1s ease;
    margin: auto auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70vh;
    height: 40vh;
    border: 3px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background-color: rgba(88, 191, 255, 0.42);
    padding: 1rem;
}

.not-found-text {
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.not-found-text > h1 {
    font-size: 10rem;
}

.not-found-text > p {
    font-size: 2rem;
    font-weight: bold;
}

#not-found > img {
    height: 100%;
    width: 100%;
}

/* Stats */

#stats-container {
    cursor: default;
    visibility: hidden;
    opacity: 0;
    margin: auto auto;
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 3.125rem;
    transition: 1s ease;
}

.stats-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3.125rem;
}

.stats-row > div {
    border: 2px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background: rgba(88, 191, 255, 0.25);
}

.stats-row > div:hover {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1rem;
    background-color: rgba(88, 191, 255, 0.42);
}

/* First row */

.stats-userinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 100%;
}

.stats-userinfo > img {
    height: 90%;
    margin: 1rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.stats-userinfo > h1 {
    font-size: 3.5rem;
    margin-right: 1rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

/* Second row */

/* Skin */

.stats-skin {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 40%;
}

#skin {
    transform: scale(0.85);
}

/* General */

.stats-general {
    width: 60%;
    height: 100%;
}

.stats-title {
    font-size: 1.75rem;
    margin: 1rem;
    text-decoration: underline;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.stats-general > p {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.stats-general > p > span {
    background: linear-gradient(90deg,rgba(76, 180, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* top left logo/branding */

header {
    display: flex;
}

.branding {
    display: flex;
    margin: 1rem;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

.branding-text {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.branding-text > p {
    height: 50%;
    font-size: 1.8rem;
    font-weight: bold;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}

/* (small and buggy) Search */

.small-search-wrapper {
    margin-top: 0.5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scale(0.8);
}

/* Leaderboard */

table {
    width: 90%;
    margin: 0 auto 2rem auto;
    text-align: center;
    font-size: 130%;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid rgba(148, 211, 255, 0.58);
    border-radius: 1rem;
    background: rgba(88, 191, 255, 0.25);
    padding: 1rem;
}

th {
    padding-bottom: 0.5rem;
    text-decoration: underline;
}